

.conteiner{ 
    widows: 1445px;
    max-width: 943px;   
    margin: 0 auto;
   
}

/* навигация */
.nav{ 
    display:inline-block;  
    white-space: nowrap;
    width: 100%;
    margin-top: 32px;
    
}

    
.link{
    width: 100%;
    text-decoration: none;
    color: #828282;
    font-size: 18px;
    text-align: center;
    margin-right: 154px;
        
    }

.link:hover{
     color: #07070b;
 }
 .line{
    position: absolute;
    border-bottom: 1px solid #828282;
    border-width: 1px;
    padding-bottom: 32px;
    width: 940px
    
}

 /* Denis Novik */
.logo{
   line-height: 59px;
   font-size: 47.3392px;
   margin-top: 128px;
   position: absolute;
   color: #070707;
   
}
/* UX | UI designer 24 
years old, Minsk */
.logo_info{
    text-align: center;
    position: absolute;
    margin: 0 auto;
    margin-top: 180px;
    margin-left: 400px;

}
  
/* RU | ENG */

.logo_language{
    transform: rotate(-90deg);
    position: absolute;
    margin-left: 895px;
    margin-top: 157px;
    font-size: 16px;
    color: #828282;;


}
 .logo_language:hover{
    color: #070707;
}

/* BSPP2266 */

.imageBSPP{
    position: absolute;
    top: 276.94px;
    left: 0 px;
    margin: 0 auto;
}

/* About me */

.about_fon{
    position: absolute;
    background: #F6F6F6;
    left: 0;
    text-align: center;
    right: 0;
    margin: 0px auto;
    top: 768px;
    height: 506px;
    width: 100%;
    max-width:1280px;
    
     
    
    
    
}

.about_me{
    position: absolute;
    font-size: 34px;
    top: 120px;
    padding-left: 420px;
    color: #070707;
    

}



.about_cont{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    
  
}

.about_text{
    font-size: 18px;
    padding-top: 17px;
    text-indent: 30px;
    

}


/* Skills */

.skill{
    padding-top: 1365px;
    font-size: 34px;
    line-height: 42px; 
    text-align: center;


}
.skill_info{
    position: absolute;
    font-size: 18px;
    text-align: center;
    top: 1460px;
    left: 515px;


}

.skill_work{
    width: 100%;
    max-width: 1100px;
    margin: 0px auto;
    
    
    
}

.work{
    padding-top: 160px;
    padding-left: 90px;
    display: inline-block;
    
}

/* Portfolio */


.portfolio_fon{
    background: #F6F6F6;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    max-width:1280px ;
    height: 2253px;
    top: 1884px;
    left: 0px;
}


.Portfolio{
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    padding-top: 112px;
}

.portfolio_img1{ 
    position: absolute;
    left: 120px;
    top: 203px;
}

.Online{
    font-size: 18px;
    padding-top: 600px;
    text-align: center;
    text-decoration-line: underline;
}


.portfolio_img2{
    position: absolute;
    left: 120px;
    top: 879px;
}

.Reebok{
    font-size: 18px;
    text-align: center;
    text-decoration-line: underline;
    padding-top: 700px;
}

.portfolio_img3{
    position: absolute;
    left: 120px;
    top: 1567px;
}
.Braun{
    padding-top: 630px;
    font-size: 18px;
    text-align: center;
    text-decoration-line: underline;
}

/* Contacts */


.footer{
    display: inline;
    text-align: center;
    margin: auto;
}

.podval{
    padding-top: 2380px;
    font-size: 34px;
    display: block;
}

.welcom{
    display: block;
    font-size: 18px;
    padding-top: 20px;  
      
}

.button{  
    background: #070707;
    color:#FFFFFF;
    padding: 13px;
    border-radius: 30px ;
    width: 180.5px;
    height: 21px;

}

.button1{
    padding-top: 30px;
    padding-left: 500px;
}


.img{
    padding-top: 85px;
    padding-left: 10px;
}

.end{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 45px;
    color: #828282;
}
.button1 {
    width: 208px;
    margin: 0 auto;
    padding-left: 0px;
}